<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>395035772464-am5p4l5juaesuandsop1v7bh062qvl7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395035772464-am5p4l5juaesuandsop1v7bh062qvl7p</string>
	<key>API_KEY</key>
	<string>AIzaSyDj_My_iKJNuyKgfcqiYsZFr9UfmCWsznI</string>
	<key>GCM_SENDER_ID</key>
	<string>395035772464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tiago-Santos.Realmr</string>
	<key>PROJECT_ID</key>
	<string>realmr-d17de</string>
	<key>STORAGE_BUCKET</key>
	<string>realmr-d17de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395035772464:ios:b85433eaaf66ff5a</string>
	<key>DATABASE_URL</key>
	<string>https://realmr-d17de.firebaseio.com</string>
</dict>
</plist>